.modal-content {
    background: white;
    width: 70% !important;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.modal-background {
    background-color: rgba(9, 30, 66, 0.54) !important;
}