:root {
  --blackTheme: #000000;
  --purpleHeavy: #3E065F;
  --purpleMiddle: #3E065F;
  --purpleSweet: #3E065F;
  --whiteTheme: #ffffff;
  --greyTheme: #bbbbbb;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  color: var(--whiteTheme) !important;
}

html {
  overflow: auto !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.package-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}